<div class="container">
  <h1><%= @restaurant.name %></h1>

  <p><strong>Reviews</strong></p>
  <ul class="list-group">
    <% @restaurant.reviews.each do |review| %>
      <li class="list-group-item"><%= review.content %></li>
    <% end %>
  </ul>
  <br>
  <%= link_to "Add Review", new_restaurant_review_path(@restaurant)  %>
  <%= link_to "Back to All Restaurants", restaurants_path %>
</div>
